---
layout : layout.html
title  : <%= continent %>
seo    : noindex, follow
slug   : <%= slugify(continent) %>
---

<div class="jumbotron mmjy-related">
  <div class="container mmjy-jumbotron" style="background-image: url('/images/continents/{{ cover }}.png')">
    <h1>{{ title }}</h1>
    <ul class="list list-inline">
      {{#withCountries this}}
      <li><span class="flag flag-{{ lowercase code }}"></span> {{ name }}</li>
      {{/withCountries}}
    </ul>
  </div><!-- /mmjy-jumbotron -->
</div><!-- /jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{> list }}
    </div>

    <div class="col-md-4">
      {{> sidebar }}
    </div>
  </div><!-- /row -->
</div><!-- /container -->