<footer class="mmjy-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 hidden-xs">
            <img class="img-circle img-responsive mmjy-about-us" src="/images/about-us.jpg" alt="About Us" />
          </div>
          <div class="col-md-8">
            <h3>About Us</h3>
            <p>We, <strong>Mark & Herta</strong>, decided to embark on a seven month adventure throughout Asia and South America, with the intention of staying Down Under for a while in Australia. Beyond that? The possibilities are endless.</p>
            <p><a href="/about.html">Read Mark &amp; Herta’s full story.</a></p>
          </div>
        </div><!-- /row -->
      </div><!-- /col-md-6 -->

      <div class="col-md-6">
        <p class="h3">We are currently in … {{ config.location.name }}</p>
        <img alt="We are currently in…" class="img-thumbnail mmjy-current" src="/images/current-location.png" />
      </div><!-- /col-sm-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</footer>