{{#any photos}}
<div class="mmjy-gallery-wrapper text-center">
  {{#withFirst photos}}
    <div class="container">
      {{ photo src data=.. }}
      <span class="mmjy-gallery-nav mmjy-gallery-prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </span>
      {{#gt ../photos.length 1}}
      <span class="mmjy-gallery-nav mmjy-gallery-next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </span>
      {{/gt}}
    </div>
  {{/withFirst}}
  <span class="mmjy-arrow-up"></span>
  <ul class="list-inline mmjy-gallery">
  {{#eachIndex photos}}
    <li>
      <a{{^if index}} class="active"{{/if}} href="/blog/{{ ../slug }}/{{ item.src }}" id="{{ item.src }}">
        <img alt="{{ item.description }}" class="mmjy-img-small" src="/blog/{{ ../slug }}/t/{{ item.src }}" title="{{ item.description }}" />
        <span class="mmjy-caption hidden">
          <strong><date datetime="{{ item.date }}">{{ moment item.date format='MMM D, YYYY' }}</date></strong> •
          {{#if item.description}}{{ item.description }} •{{/if}}
          {{#if item.geography}}
          <span class="glyphicon glyphicon-map-marker"></span>{{ dms item.geography.coord }} ({{ item.geography.name }})
          {{/if}}
        </span>
      </a>
    </li>
  {{/eachIndex}}
  </ul>
</div>
{{/any}}