<div class="card mmjy-summary">
  <h2 class="card-title">{{ .Render "title" }}</h2>

  <ul class="list-inline">
    <li class="list-inline-item font-weight-bold">
      {{ partial "mixins/datetime.html" .Date }} •
    </li>

    {{ $countries := where .Site.Data.countries.features "properties.slug" "in" .Params.destinations }}
    {{ range $countries }}
      <li class="list-inline-item">
        <a class="badge badge-default" href="{{ printf "destinations/%s/" .properties.slug | absURL }}">{{ .properties.name }}</a>
      </li>
    {{ end }}
  </ul>

  {{ if isset .Params "photos" }}
    <ul class="list-inline">
      {{ range first 5 .Params.photos }}
        <li class="list-inline-item">
          <img class="mmjy-thumb mmjy-thumb-inset" src="{{ printf "uploads/thumbs/%s" . | absURL }}" />
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ .Summary }}

  <p class="card-text">
    <a href="{{ .Permalink }}">Continue reading {{ .Title }}</a>
  </p>
</div><!-- /card -->