<div class="card" style="border: 0">
  <h2 class="card-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>
  <p class="card-text">
    <strong>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </strong>
    •
    {{ range sort .Params.destinations }}
      {{ $slug := . | urlize }}
      {{ range where $.Site.Data.countries.features "properties.slug" $slug }}
        <a href="{{ $.Site.BaseURL }}destinations/{{ $slug }}">
          {{ .properties.name }} <span class="mmjy-icon icon-flags icon-flags-{{ .properties.code | lower }}"></span>
        </a>
      {{ end }}
    {{ end }}
  </p>
  <ul class="list-inline">
    {{ range first 5 .Params.photos }}
      <li><img src="{{ $.Site.BaseURL }}uploads/thumbs/{{ . }}" /></li>
    {{ end }}
  </ul>
  <p class="card-text">{{ .Summary }}</p>
  <p class="card-text">
    <a href="{{ .Permalink }}">Continue reading {{ .Title }}</a>
  </p>
</div>