[
{{ $country := .Title | urlize }}

{{ $.Scratch.Set "subject" (where $.Site.Data.countries.features "properties.slug" $country) }}
{{ if (eq (($.Scratch.Get "subject") | len) 0)}}
  {{ $.Scratch.Set "subject" (where $.Site.Data.continents.features "properties.slug" $country) }}
{{ end }}

{{ with index ($.Scratch.Get "subject") 0 }}
  {
    type: 'Feature',
    properties: { },
    geometry: {
      {{ with index .geometry.geometries  2}}
        type: '{{ .type }}',
        coordinates: [
        {{ if eq .type "MultiPolygon"}}
          {{ range .coordinates }}
            [
            {{ range . }}
              [
              {{ range . }}
                [ {{ delimit . ", " }} ],
              {{ end }}
              ],
            {{ end }}
            ],
          {{ end }}
        {{ else }}
          {{ range .coordinates }}
            [
            {{ range . }}
              [ {{ delimit . ", " }} ],
            {{ end }}
            ],
          {{ end }}
        {{ end }}
        ],
      {{ end }}
    }
  }
{{ end }}
]