<script async>
var geojson = [
{{ range $country, $taxanomy := $.Site.Taxonomies.destinations }}
  {{ range where $.Site.Data.countries "slug" $country }}
    {
      type: 'Feature',
      properties: {
        html  : '<a class="mmjy-map-icon icon-flags icon-flags-{{ .code | lower }}" href="{{ $.Site.BaseURL }}destinations/{{ $country | urlize }}"></a>',
        title : '{{ .name }}'
      },
      geometry: {
        type: 'Point',
        coordinates: {{ .coords }}
      }
    },
  {{ end }}
{{ end }}
];
</script>