[
{{ range $country, $taxanomy := $.Site.Taxonomies.destinations }}
  {{ range where $.Site.Data.countries.features "properties.slug" $country }}
    {
      type: 'Feature',
      properties: {
        html  : '<a class="mmjy-map-icon icon-flags icon-flags-{{ .properties.code | lower }}" href="{{ $.Site.BaseURL }}destinations/{{ $country | urlize }}"></a>',
        title : '{{ .properties.name }}'
      },
      geometry: {
        {{ with index .geometry.geometries 0 }}
          type: '{{ .type }}',
          coordinates: [ {{ delimit .coordinates ", " }} ]
        {{ end }}
      }
    },
  {{ end }}
{{ end }}
]