    <div class="container-fluid bg-faded p-y-lg mmjy-border-top">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-6">
            <div class="media">
              <div class="media-left media-middle">
                <img class="img-circle media-object mmjy-photo" src="{{ .Site.BaseURL }}img/about.jpg" />
              </div>
              <div class="media-body">
                <h4 class="media-heading">About Mark &amp; Herta</h4>
                <p>We, Mark &amp; Herta, decided to embark on a seven month adventure throughout Asia and South America, with the intention of staying Down Under for a while in Australia. Beyond that? The possibilities are endless.</p>
                <a href="{{ .Site.BaseURL }}about">Read Mark &amp; Herta’s full story.</a>
              </div>
            </div><!-- /media -->
          </div><!-- /col -->

          {{ range last 1 $.Site.Data.location }}
          <div class="col-xs-12 col-md-6">
            {{/* Retrieve country from code. */}}
            {{ range first 1 (where $.Site.Data.countries.features "properties.code" .code) }}
              {{ $.Scratch.Set "country" .properties.name }}
            {{ end }}
            <h4>We are currently in … {{ .name }}, {{ $.Scratch.Get "country" }}</h4>

            {{/* Display map, and append GeoJSON to script scratch */}}
            {{ $source := "currentLocation" }}
            <div class="mmjy-border mmjy-inset">
              <div class="mmjy-map" data-l-box-zoom="false" data-l-dragging="false" data-l-double-click-zoom="false" data-l-zoom="2" data-l-zoom-control="false" data-source="{{ $source }}"></div>
            </div>
            {{ $.Scratch.SetInMap "script" $source (partial "geojson/current-location" $) }}
          </div>
          {{ end }}

        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /container-fluid -->

    {{/* Insert GeoJSON */}}
    <script async>
    var geojson = {
    {{ range $key, $value := $.Scratch.Get "script" }}
      {{ $key }}: {{ slicestr $value 0 | safeJS }},
    {{ end }}
    };
    </script>

    <script data-src="{{ .Site.BaseURL }}js/components.js"></script>
    <script async src="{{ .Site.BaseURL }}js/main.js"></script>
  </body>
</html>