<div class="container-fluid bg-faded py-3 mmjy-border-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="media">
          <img class="hidden-md-down mr-3 media-object rounded-circle" src="{{ absURL "img/about-us.jpg" }}" />
          <div class="media-body">
            <h4 class="media-heading">About Us</h4>
            <p>We, Mark & Herta, are currently backpacking through Europe, and eventually planning to settle in London. Beyond that? The possibilities are endless.</p>
            <a href="{{ ref . "about.md" }}">Read Mark & Herta’s full story.</a>
          </div><!-- /media-body -->
        </div><!-- /media -->
      </div><!-- /col-xs-12 -->
      <div class="col-xs-12 col-md-6">
        {{ $locations := last 1 .Site.Data.locations.features }}
        {{ $location  := index $locations 0}}

        {{ $countries := where .Site.Data.countries.features ".properties.code" $location.properties.country.code }}
        {{ $country   := index $countries 0 }}

        {{ $className := printf "icon-flags-%s" (lower $country.properties.code) }}
        <h4>We are currently in … {{ $location.properties.name }} <span class="mmjy-icon icon-flags {{ $className }}" title="{{ $country.properties.name }}"></span></h4>
        <div class="mmjy-border mmjy-inset">
          <div class="mmjy-map mmjy-map-sm" data-source="current"></div>
        </div>
      </div><!-- /col-xs-12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /container-fluid -->