<nav class="navbar navbar-expand-sm navbar-light bg-light mmjy-border-bottom" role="navigation">
  <div class="container">
    <a class="navbar-brand d-none d-sm-block{{ if .IsHome }} active{{ end }}" href="{{ absURL "/" }}">{{ .Site.Title }}</a>

    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item d-sm-none{{ if .IsHome }} active{{ end }}">
          <a class="nav-link" href="{{ absURL "/" }}">Home</a>
        </li>
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
          {{ $isCurrent := or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
          <li class="nav-item{{ if $isCurrent }} active{{ end }}">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end }}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{{ if in $.Permalink "destinations/" }} active{{ end }}" href="{{ absURL "destinations/" }}" id="destinations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Destinations</a>
          <div aria-labelledby="destinations" class="dropdown-menu">
            {{ range .Site.Data.continents.features }}
              {{ if isset $.Site.Taxonomies.destinations .properties.slug }}
                {{ $taxonomyURL := printf "%s" (absURL (printf "destinations/%s/" .properties.slug)) }}
                <a class="dropdown-item{{ if eq $taxonomyURL $.Permalink }} active{{ end }}" href="{{ $taxonomyURL }}">{{ .properties.name }}</a>
              {{ end }}
            {{ end }}
          </div>
        </li>
      </ul>
    </div><!-- /navbar-collapse -->
  </div><!-- /container -->
</nav>