<nav class="navbar navbar-full navbar-toggleable navbar-light bg-faded mmjy-border-bottom" role="navigation">
  <div class="container">
    <a class="navbar-brand hidden-xs-down{{ if .IsHome }} active{{ end }}" href="{{ absURL "/" }}">{{ .Site.Title }}</a>
    <ul class="navbar-nav">
      <li class="nav-item hidden-sm-up{{ if .IsHome }} active{{ end }}">
        <a class="nav-link" href="{{ absURL "/" }}">Home</a>
      </li>
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        {{ $isCurrent := or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
        <li class="nav-item{{ if $isCurrent }} active{{ end }}">
          <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
      {{ end }}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{{ if in $.Permalink "destinations/" }} active{{ end }}" data-toggle="dropdown" href="{{ absURL "destinations/" }}" role="button">Destinations</a>
        <div class="dropdown-menu">
          {{ range .Site.Data.continents.features }}
            {{ if isset $.Site.Taxonomies.destinations .properties.slug }}
              {{ $taxonomyURL := printf "%s" (absURL (printf "destinations/%s/" .properties.slug)) }}
              <a class="dropdown-item{{ if eq $taxonomyURL $.Permalink }} active{{ end }}" href="{{ $taxonomyURL }}">{{ .properties.name }}</a>
            {{ end }}
          {{ end }}
        </div>
      </li>
    </ul>
  </div><!-- /container -->
</nav>