<div class="card mb-3">
  <h4 class="card-header">Popular Posts</h4>
  <ul class="list-group list-group-flush">
  {{ $popular := first 5 (.Site.RegularPages.ByParam "sticky") }}
  {{ range $popular }}
    <li class="list-group-item">
      {{ .Render "title" }}
    </li>
  {{ end }}
  </ul>
</div><!-- /card -->

<div class="card mb-3">
  <h4 class="card-header">Follow Us</h4>
  <ul class="card-block list-inline mb-0">
    {{ range .Site.Menus.social }}
      <li class="list-inline-item">
        {{ $identifier := default (lower .Name) .Identifier  }}
        {{ $className  := printf "icon-stock-%s" $identifier }}
        <a class="nav-link icon-stock {{ $className }}" href="{{ absURL .URL }}">
          <span class="sr-only">{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</div><!-- /card -->