{{ partial "header.html" . }}

{{ partial "map.html" }}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p class="card-header">
        <strong>The Latest</strong>
      </p>
      {{ range first 3 .Data.Pages.ByDate.Reverse }}
        {{ .Render "summary" }}
        <hr class="m-y-md" />
      {{ end }}

      <nav>
        <ul class="pager">
          <li><a href="{{ .Site.BaseURL }}blog">More →</a></li>
        </ul>
      </nav>

    </div>
  </div>
</div>

{{/* Insert map GeoJSON just before </body> */}}
{{ $.Scratch.Add "scripts" (partial "geojson/overview.html" .) }}

{{ partial "footer.html" . }}